<div dir="ltr" align="center" style="margin-left:0pt">
    <table style="border:none;border-collapse:collapse; font-family:Roboto,sans-serif">
        <colgroup>
            <col width="667">
        </colgroup>
        <tbody>
            <tr style="height:0pt">
                <td style="vertical-align:top;padding:5pt;overflow:hidden">
                    <div dir="ltr" align="center" style="margin-left:0pt">
                        <table style="border:none;border-collapse:collapse;table-layout:fixed;width:653.6875px">
                            <colgroup>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr style="height:0pt">
                                    <td
                                        style="vertical-align:top;background-color:rgb(241,194,50);padding:5pt;overflow:hidden">
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:11pt;font-family:Lora,serif;"><span
                                                    style="border:none;display:inline-block;overflow:hidden;width:64px;height:80px"><img
                                                        src="https://lh5.googleusercontent.com/l8y1oEnsDvrd-nFj7JGmZRbarH1TYpHCkgi4NvpVTb2MIK0WpNfPsv3FZIXg59J5m-A6q1sdfbomIeBCcUisBFlajYh-9blyulFJdANJdYK2vUeXaktTLjl2nAnlQdbJbUNBgIlbcaYimsmXeXrDdSM"
                                                        width="64" height="80" style="margin-left:0px;margin-top:0px"
                                                        class="CToWUd" data-bit="iit"></span></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><br>
                    <div dir="ltr" align="center" style="margin-left:0pt">
                        <table style="border:none;border-collapse:collapse;table-layout:fixed;width:653.6875px">
                            <colgroup>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr style="height:0pt">
                                    <td style="vertical-align:top;padding:5pt;overflow:hidden">
                                        <h2 dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:8pt">
                                            <span style="font-size:18pt;">Thank you for your booking!</span>
                                        </h2><br>
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:12pt;;color:rgb(119,119,119);">Hi
                                            </span><span
                                                style="font-size:12pt;;color:rgb(255,0,0);font-weight:700;">{{name}}</span>
                                                <span style="font-size:12pt;;color:rgb(119,119,119);">,
                                                the Auto 2000 crew has started working on your booking and you will be notified about
                                                the confirmation of your appointment.</span>
                                        </p><br><br>
                                        <div dir="ltr" align="center" style="margin-left:0pt">
                                            <table
                                                style="border:none;border-collapse:collapse;table-layout:fixed;width:639.375px">
                                                <colgroup>
                                                    <col>
                                                    <col>
                                                    <col>
                                                </colgroup>
                                                <tbody>
                                                    <tr style="height:0pt">
                                                        <td
                                                            style="border:1pt solid rgb(0,0,0);vertical-align:top;padding:5pt;overflow:hidden">
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Registration
                                                                    Number</span>
                                                            </p><br>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:16pt;;color:rgb(238,0,0);font-weight:700;">{{regNo}}</span>
                                                            </p>
                                                        </td>
                                                        <td
                                                            style="border:1pt solid rgb(0,0,0);vertical-align:top;padding:5pt;overflow:hidden">
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Porsche
                                                                    Model</span>
                                                            </p><br>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:16pt;;color:rgb(238,0,0);font-weight:700;">
                                                                    {{model}}
                                                                </span>
                                                            </p>
                                                        </td>
                                                        <td
                                                            style="border:1pt solid rgb(0,0,0);vertical-align:top;padding:5pt;overflow:hidden">
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Appointment
                                                                    Request&nbsp;</span>
                                                            </p><br>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:16pt;;color:rgb(238,0,0);font-weight:700;">
                                                                    {{appointmentDate}} {{appointmentTime}}
                                                                </span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><br>
                                        {{!-- <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:12pt;;color:rgb(119,119,119);">Some
                                                Promotional Image</span>
                                        </p><br><br> --}}
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span
                                                style="font-size:12pt;;color:rgb(119,119,119);text-decoration:underline;text-decoration-skip:none;">Booking
                                                Summary</span>
                                        </p><br>
                                        <div dir="ltr" align="center" style="margin-left:0pt">
                                            <table style="border:none;border-collapse:collapse">
                                                <colgroup>
                                                    <col width="481">
                                                </colgroup>
                                                <tbody>
                                                    <tr style="height:0pt">
                                                        <td
                                                            style="border:1pt solid rgb(0,0,0);vertical-align:top;padding:5pt;overflow:hidden">
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Service
                                                                    type</span><span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);"><br></span><span
                                                                    style="font-size:12pt;;font-weight:700;">
                                                                    {{serviceType.name}}
                                                                </span>
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);"><br></span>
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);"><br></span>
                                                                <span style="font-size:12pt;;color:rgb(119,119,119);">
                                                                    Add On Services</span>
                                                            </p>
                                                            {{#each addOnServices}}
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span style="font-size:12pt;;font-weight:700;"> {{name}}
                                                                </span>
                                                            </p>

                                                            {{/each}}
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);"><br></span>
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);"><br></span>
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Other
                                                                    Modifications</span>
                                                            </p>
                                                            {{#each otherModifications}}
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span style="font-size:12pt;;font-weight:700;"> {{name}}
                                                                </span>
                                                            </p>
                                                            {{/each}}
                                                            <br>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Vehicle
                                                                    Pickup ‘n’ Drop</span>
                                                            </p>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span style="font-size:12pt;;font-weight:700;">

                                                                    {{#ifCond pickupDropService '!=' null }} Yes
                                                                    {{else}} No {{/ifCond}}
                                                                </span><span
                                                                    style="font-size:12pt;;font-weight:700;"><br><br></span>
                                                            </p>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">Order
                                                                    Total&nbsp;</span>
                                                            </p>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:15pt;;color:rgb(238,0,0);font-weight:700;">£
                                                                    {{orderTotal}}</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><br>
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span
                                                style="font-size:12pt;;color:rgb(119,119,119);text-decoration:underline;text-decoration-skip:none;">Customer
                                                Information</span>
                                        </p><br>
                                        <div dir="ltr" align="center" style="margin-left:0pt">
                                            <table style="border:none;border-collapse:collapse">
                                                <colgroup>
                                                    <col width="482">
                                                </colgroup>
                                                <tbody>
                                                    <tr style="height:0pt">
                                                        <td
                                                            style="border:1pt solid rgb(0,0,0);vertical-align:top;padding:5pt;overflow:hidden">
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">{{name}}</span>
                                                            </p>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">{{phone}}</span>
                                                            </p>
                                                            <p dir="ltr"
                                                                style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                                                <span
                                                                    style="font-size:12pt;;color:rgb(119,119,119);">{{email}}</span>
                                                            </p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><br><br><br>
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:12pt;;color:rgb(119,119,119);">For
                                                any booking-related queries, email us with your Order ID at </span><span
                                                style="font-size:12pt;;font-weight:700;font-style:italic;"><a
                                                    href="mailto:info@porsche-repairs.co.uk"
                                                    target="_blank">info@porsche-repairs.co.uk</a></span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div><br>
                    <div dir="ltr" align="center" style="margin-left:0pt">
                        <table style="border:none;border-collapse:collapse;table-layout:fixed;width:652.6875px">
                            <colgroup>
                                <col>
                            </colgroup>
                            <tbody>
                                <tr style="height:0pt">
                                    <td
                                        style="border:0.5pt solid rgb(153,153,153);vertical-align:top;background-color:rgb(119,119,119);padding:5pt;overflow:hidden">
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:11pt;;color:rgb(255,255,255);"><br></span>
                                        </p>
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:11pt;;color:rgb(255,255,255);">24
                                                College Street, Kempston, Bedford MK428LU</span><span
                                                style="font-size:11pt;;color:rgb(102,102,102);"><br><br></span>
                                        </p>
                                        <p dir="ltr"
                                            style="line-height:1.2;text-align:center;margin-top:0pt;margin-bottom:0pt">
                                            <span style="font-size:11pt;;color:rgb(102,102,102);"><span
                                                    style="border:none;display:inline-block;overflow:hidden;width:24px;height:24px"><img
                                                        src="https://lh4.googleusercontent.com/UhBn0SSI2mbsd_lpzJsgJuIQH1RvFHsoFky0GiAuCpN3MnOuvw-PLXkT7ChD_SXtOJXelwSm46Z9KsAyKt7YuxnPbvaLHA7TdLaGOJ45RKXPyQl3YvU6lCMp6peegdSLWPA98Oz5eH6dMfFubu5mINQ"
                                                        width="24" height="24" style="margin-left:0px;margin-top:0px"
                                                        class="CToWUd" data-bit="iit"></span></span><span
                                                style="font-size:11pt;;color:rgb(102,102,102);">&nbsp;
                                                &nbsp; </span><span
                                                style="font-size:11pt;;color:rgb(102,102,102);"><span
                                                    style="border:none;display:inline-block;overflow:hidden;width:24px;height:24px"><img
                                                        src="https://lh4.googleusercontent.com/Y9M1t397zJUaU4C0Di062TCIuEKaw3tZ7Js6tz9k8Hc3n8y11mP40r0Cl022mnAKfHDIlyEB0Utys2QLgGbjqTiiO7SAXiaa5nzuhrDrFms-FmXCCV-YxDZFeKmMeavXSNl8EmvjEfxXpApySSPzpcQ"
                                                        width="24" height="24" style="margin-left:0px;margin-top:0px"
                                                        class="CToWUd" data-bit="iit"></span></span><span
                                                style="font-size:11pt;;color:rgb(102,102,102);">&nbsp;
                                                &nbsp; </span><span
                                                style="font-size:11pt;;color:rgb(102,102,102);"><span
                                                    style="border:none;display:inline-block;overflow:hidden;width:24px;height:24px"><img
                                                        src="https://lh4.googleusercontent.com/6Som2nVzw-922W-rykIsG9XyuaGeIfQ01zjgaZytUvlZU6Q-5k0gJOuB1IR22vrDwMXlt7rfzlQ7jWui4DrgXaftqSiEHHUlmfu4v9oazqYQ5qHBrce7JdwJV5Il9Qm69_7IvaUVhHp6oFDSkXr3N4k"
                                                        width="24" height="24" style="margin-left:0px;margin-top:0px"
                                                        class="CToWUd" data-bit="iit"></span></span>
                                        </p><br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>


{{!-- <div class="container">
    <div class=" section">
        <div class="">
            <div class="card hoverable col l10 m10 s8 offset-l1 offset-s2">
                Dear {{name}},
                <br>
                <br>
                Thank you for your booking!
                <br>
                Auto 2000 crew has started working on your booking and you will be notified about the confirmation of
                your appointment.
                <br>
                Registration Number: {{regNo}}
                <br>
                Appointment Requested for : {{appointmentDate}} {{appointmentTime}}
                <br>
                <br>
                Thanks,
                <br>
                Team

            </div>
        </div>
    </div>
</div> --}}