<div class="container-fluid  p-0">
  <div class="bookAppointmentHeader row mx-auto bg-brown text-light py-5" id="bookAppointment">
    <div class="col-12 mx-auto text-center">
      <div class="row ">
        <h3 class="col-12 display-6  fw-bold "> Book an Appointment </h3>
        <div class="col-12 heading-line-wrap ">
          <div class="heading-line "></div>
        </div>
      </div>
    </div>
    <p class="justify-content-center  text-center"> Your Vehicle Registration search for {{regNo}} yielded following
      results</p>
    <div class="row text-center justify-content-center">
      <div class="col-lg-4">
        <p>MAKE & MODEL</p>
        <P class="fw-bold">{{make}}{{data.id}}</P>
      </div>
      <div class="col-lg-4">
        <p>MOT DUE DATE</p>
        <P class="fw-bold">
          {{#if motExpiryDate}}
          {{formatDate motExpiryDate 'MMM D yyyy'}}
          {{/if}}
        </P>
      </div>
    </div>
  </div>
  {{#if data}}
  <div class="choose-services  bg-grey px-lg-5 py-5  " id="chooseServices">
    <h1 class="ps-lg-5  d-flex flex-row  ">
      <span class="ps-5 heading fw-bold red-text "> Choose A service </span>
    </h1>
    <div class="d-lg-flex px-5 flex-lg-row d-sm-flex flex-sm-column justify-content-between ">

      {{> appointment/serviceTypeCard data=data.minor_service otherItem=data.major_service clickable=true}}
      {{!-- <div class="card-label m-lg-5 col-1  mt-lg-3 mt-5 ">
        <div class=" card-input h-100 display-6 fw-bold h-100">
          <div class="card-body px-5">OR</div>
        </div>
      </div> --}}
      {{> appointment/serviceTypeCard data=data.major_service otherItem=data.minor_service clickable=true}}

    </div>
  </div>
  {{/if}}
  {{#if data}}
  <div class="add-on-services bg-grey p-5  " id="chooseServices">
    <h1 class="ps-lg-5  d-flex flex-row  ">
      <span class="ps-lg-5 heading fw-bold red-text "> Pick the Add-on Services </span>
    </h1>
    <div class="d-flex flex-row flex-wrap px-lg-5 justify-content-between fw-bold ">
      {{#each data.add_on_services}}
      {{> appointment/addonServiceCard data = this}}
      {{/each}}

    </div>
  </div>
  {{/if}}
  {{#if data}}
  <div class="other-modification-services  bg-grey p-5  " id="chooseServices">
    <h1 class="ps-lg-5 d-flex flex-row  ">
      <span class="ps-lg-5 heading fw-bold red-text "> Other Modifications </span>
    </h1>
    <div class="d-flex flex-row flex-wrap px-lg-5 justify-content-between fw-bold ">
      {{#each data.other_modification}}
      <div class="card icon-box my-3 mx-lg-3">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center fw-bold">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value=""
                onchange="serviceTotal(this,{{cost}},'otherModification','{{id}}','{{name}}')" id="otherModification1">
              <label class="form-check-label" for="flexCheckDefault">
                <p>{{name}}</p>
              </label>
            </div>
            <h3 class="mt-3">£{{cost}}</h3>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="pickup-drop d-flex bg-grey px-3 flex-row justify-content-center">
    <div class="form-check text-Red fw-bold">
      <input class="form-check-input" type="checkbox" value=""
        onchange="serviceTotal(this,400,'pickupDropService','pickupDropService','pickupDropService')"
        id="pickupDropService">
      <label class="form-check-label" for="flexCheckDefault">
        <h4>Request pick amd drop for upto 100 miles each way at additional £400</h4>
      </label>
    </div>
  </div>

  <div class="pickup-drop d-flex py-4 bg-grey flex-row justify-content-center">
    <h3 class="display-6 fw-bold">Total Price: £<span id="data-total-price">0</span></h3>
  </div>
  <form action="/appointment" method="POST" id="frmAppointment">
    <div class="other-modification-services  bg-black p-5 text-light " id="chooseServices">
      <h1 class="ps-lg-5 d-flex flex-row  ">
        <span class="ps-lg-5 heading fw-bold text-light "> Complete Booking </span>
      </h1>
      <div class="ps-lg-5  personal-info py-2">
        <h4 class="ps-lg-5 py-3"> PERSONAL INFORMATION</h4>
        <div class="d-flex flex-row flex-wrap p-lg-5 pt-3 justify-content-between fw-bold ">
          <div class="col-lg-4 col-12 pe-lg-5">
            <input type="name" class="form-control form-control-custom" name="name" aria-describedby="nameHelp"
              placeholder="Name">
          </div>
          <div class="col-lg-4 col-12 pe-lg-5 pt-lg-0 pt-3">
            <input type="phone" class="form-control form-control-custom" name="phone" aria-describedby="phoneHelp"
              placeholder="Phone">
          </div>
          <div class="col-lg-4 col-12 pe-lg-5 pt-lg-0 pt-3">
            <input type="email" class="form-control form-control-custom" name="email" aria-describedby="emailHelp"
              placeholder="Email">
          </div>
        </div>
      </div>
      <div class="ps-lg-5  personal-info pb-5">
        <h4 class="ps-lg-5 py-3"> CHOOSE DATE & TIME</h4>
        <div class="d-flex flex-row flex-wrap px-lg-5 justify-content-between fw-bold ">
          <div class="col-lg-6 col-12 pe-lg-5 ">
            <div class="form-group">
              <div class="input-group">
                <input placeholder="Select Date" class="form-control form-control-custom date-input" type="date"
                  name="appointmentDate" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 pe-lg-5 pt-lg-0 pt-3">

            <div class="form-group">
              <div class="input-group">
                <input placeholder="Select Date" class="form-control form-control-custom date-input" type="time"
                  name="appointmentTime" />
              </div>
            </div>
          </div>
        </div>
        <div class="bg-black mt-5 d-flex flex-row justify-content-center shadow-lg " style="background-color:#2d2d2d">
          <p class="p-3 m-0"> <i class="bi bi-info-circle"></i> please note that the date and time you requested may
            not
            be available. we will contact you to confirm your actual appointment details. </p>
        </div>
        <div class="d-flex flex-row justify-content-center py-5">
          <button type="submit" class="col-lg-3 col-sm-4 btn btn-primary bg-red btn-lg btn-block">BOOK NOW</button>
          </button>
        </div>
      </div>
    </div>
    <input type="hidden" name="regNo" value="{{regNo}}">
    <input type="hidden" name="serviceArray" value="{}">
  </form>
</div>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
{{#section 'script'}}
<script type="text/javascript">
  document.getElementById('frmAppointment').onsubmit = async (e) => {
    e.preventDefault();
    if (validataForm()) {
      let formData = new FormData();
      const params = new URLSearchParams([...new FormData(e.target).entries()]);
      const response = await fetch("/appointment", { method: "POST", body: params })
      const res = await response.json()
      alert(res.data.message)
    }
  }


  function validataForm() {
    // return true;
    var name = document.getElementsByName('name');
    if (!name[0].value) {
      alert("Please enter your name.");
      return false;
    }

    var phone = document.getElementsByName('phone');
    if (!phone[0].value) {
      alert("Please enter your phone number.");
      return false;
    }
    var email = document.getElementsByName('email');
    if (!email[0].value) {
      alert("Please enter your email.");
      return false;
    }
    var appointmentDate = document.getElementsByName('appointmentDate');
    if (!appointmentDate[0].value) {
      alert("Please enter appointment date");
      return false;
    }
    var appointmentTime = document.getElementsByName('appointmentTime');
    if (!appointmentTime[0].value) {
      alert("Please enter appointment time");
      return false;
    }

    return true;
  }
  const serviceArray = [];
  function removeObjectWithId(arr, id) {
    const objWithIdIndex = arr.findIndex((obj) => obj.id === id);

    if (objWithIdIndex > -1) {
      arr.splice(objWithIdIndex, 1);
    }

    return arr;
  }
  function serviceTotal(checkboxElem, cost, type, id, name) {
    if (checkboxElem.checked) {
      serviceArray.push({ 'id': id, 'type': type, 'name': name, 'cost': cost });
    } else {
      removeObjectWithId(serviceArray, id)
    }
    document.getElementsByName("serviceArray")[0].value = JSON.stringify(serviceArray);
    document.getElementById("data-total-price").innerText = serviceArray.reduce((a, b) => +a + +b.cost, 0);
  }
  function selectService(cost, type, id, name, otherItemId, otherItemCost) {
    const found = serviceArray.find(el => el.id === id);
    if (!found) {
      serviceArray.push({ 'id': id, 'type': type, 'name': name, 'cost': cost });
    }
    const otherEle = serviceArray.find(el => el.id === otherItemId);
    if (otherEle) {
      removeObjectWithId(serviceArray, otherItemId)
    }
    document.getElementsByName("serviceArray")[0].value = JSON.stringify(serviceArray);
    document.getElementById("data-total-price").innerText = serviceArray.reduce((a, b) => +a + +b.cost, 0);
  }

</script>
{{/section}}