{{#if clickable}}
<label class="card-label m-lg-5   mt-lg-3 mt-5 ">
  <input type="radio" name="product" value="1" class="card-input-element"
    onchange="selectService({{data.cost}},'{{data.type}}','{{data.id}}','{{data.name}}', '{{otherItem.id}}','{{otherItem.cost}}')" />

  {{else}}
  <div class="card-label m-lg-5   mt-lg-0 mt-lg-5 mt-3 ">
    {{/if}}
    <div class="card card-input h-100">
       <img class="card-img-top" src="../public/assets/images/{{data.icon}}.jpg"
                    alt="brake pad replacement">
      {{!-- <div class="service-box bg-grey w100"
        style="background-image: url('../../../../public/assets/images/{{data.icon}}.jpg');"></div> --}}
      <div class="position-relative">
        <div class="bg-red choose-service-box"><img class="box" src="../public/assets/icons/{{data.icon}}.svg"></div>
      </div>
      <div class="card-body px-5">
        <div class="d-flex flex-row bd-highlight mb-3 mt-3 justify-content-between align-items-baseline fw-bold">
          <h5 class="  fw-bold mt-3"> {{data.name}} </h5>
          {{#if clickable}}
          <span class="display-5 fw-bold">£{{data.cost}}</span>
          {{/if}}
        </div>
        <div class="pricing-desc">
          {{{data.description}}}
        </div>

      </div>
    </div>
    {{#if clickable}}
</label>
{{else}}
</div>
{{/if}}